*{
    box-sizing:border-box;
    color: #fcfcff;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    background-color: #1f2f3e;
  }
  
  /* Header-Style  */
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap ;
  }

  #button-home, #button-aboutme, #button-project {
    text-decoration: none;
  }

  .button {
    
    margin-right: 30px;
    font-size: 2em;
    color: white;
    background-color: transparent;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: 1s ease-in-out;
    width: max-content;
    text-align: center;
    font-family: 'Rampart One', cursive;
  }
  
  .button:hover {
    transition: 1s ease-in-out;
    background: none;
    color: #6a757e;
  }

  /* Content Style */
  
  #project-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    text-align: center;
    margin-top: 80px;
  }

  .project-items{
    padding: 2.5% 1.5%;
    display: flex;
    flex-direction: column;
    background-color: #515e69;
    border-radius: 10px;
    margin-top: 1.5rem;

    
    box-shadow:
    0 0.8px 2.2px rgba(0, 0, 0, 0.141),
    0 2px 5.3px rgba(0, 0, 0, 0.202),
    0 3.8px 10px rgba(0, 0, 0, 0.25),
    0 6.7px 17.9px rgba(0, 0, 0, 0.298),
    0 12.5px 33.4px rgba(0, 0, 0, 0.359),
    0 30px 80px rgba(0, 0, 0, 0.5)
  }

  .project-items:active {
    transform: scale(0.90);
  }

  .project-items > img {
    border-radius: 5px;
  }

  .project-items > a {
    text-decoration: none;
    padding-top: 05%;
    cursor: pointer;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.7rem; 
    font-weight: bold;
  }

    #projects-container{
   display: flex;
   flex-direction: row ;
   flex-wrap: wrap ;
   justify-content: space-evenly;
   padding-bottom: 150px;

  }

  /* Footer Style */

  footer{
    position:absolute;
    bottom:0;
    width:100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items:center;
    align-content:center;
    text-align: center; 
    background-color: #1f2f3e;
    flex-wrap: wrap ;
  } 

  #linkedin, #github {
      font-size: 2em;
      text-decoration: none;
      margin-right:30px;
      letter-spacing: 0.2em;
      font-family: 'Rampart One', cursive;
      color:white;
      width: max-content;
  }

  #github:hover{
    transition: 1s ease-in-out;
    background: none;
    color: #6e5494;

  }

  #linkedin:hover{
    transition: 1s ease-in-out;
    background: none;
    color: #2867b2;

  }